body {

    --primary-colour: rgb(0, 0, 0);
    --secondary-colour: rgb(126, 126, 126);
    --tertiary-colour: rgb(194, 194, 194);
    --quaternary-colour: rgb(230, 230, 230);
    --background-colour: rgb(255, 255, 255);
    --active-colour: rgb(27, 24, 190);
    --active-background-colour: rgb(229, 224, 253);
    font: 14px/18px 'Lucida Grande', 'Segoe UI', sans-serif;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    overflow: hidden;
}

#app {
    display: grid;
    grid-template-areas:
        "menubar menubar"
        "toolbar canvas"
        "toolbar text-bar";
    grid-template-columns: 56px auto;
    grid-template-rows: 76px auto 24px;
    height: 100%;
    width: 100%;
}